html {
  font-size: 62.5%;
  background: white;
}

header {
  background-color: #69013b;
  color: #FBDFD1;
  padding: 1rem;
  border-radius: 20px 20px 0px 0px;
}

header a, footer a{
  color:#FBDFD1;
  font-style: normal;
}

figure{
    display: block;
}

figure img {
    max-width: 100%;
    height: 70px;
  }
  
  #logo {
    float: right;
    width: 20rem;
  }

body {
    background-color: white;
    border-radius: 25px;
    margin: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
  }

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}

h3 {
    font-size: 1.5rem;
     font-weight: 700;
    margin: 0px 0px 15px 0px;
    
}

.sisennys-2rem{
    padding-left: 2rem;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;

}
.sisennys-4rem{
    padding-left: 4rem;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;

}
.ops {
  padding: 10px;
  border: solid #69013b 1px;
  border-top: 0;
  border-bottom: 0;
}
a{
    font-style: italic;
}

footer {
    background-color: #69013b;
    color:#FBDFD1;
    padding: 2 rem;
    border-radius: 0px 0px 20px 20px;
  }

  .ops ol{
    list-style: decimal;
    padding-left: 4rem;
  }